<form #f="ngForm" (ngSubmit)="onLogin(f.value)">
<div class="container">
 <div class="row">
    <div class="col-md-8 col-md-offset-2">
       <label for="inputEmail" role="input ">Email</label>
       <img src="../assets/mail.png" width="30" alt="email"/>
       <input type="text" 
       class="form-control"
       name="email"
       #email="ngModel"
       ngModel
       [placeholder]="message"
       required
       minlength="6"
       autofocus/>
    </div>
  </div>
  <div [ngClass]="'error'" *ngIf= "f.invalid && (f.touched || f.dirty)">
      <p *ngIf="email.errors?.required" >username is required</p>
      <p *ngIf="email.errors?.minlength">username should be og 6 </p>
  </div>
  
  <br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
       <label for="inputPassword">Password</label>
       <img src="../assets/pass.jpeg" width="30" alt="pass"/>
       <input type="text" 
       class="form-control"
       name="Password"
       #pwd="ngModel"
       ngModel
       placeholder="Password"
       required
       minlength="6"
       />
    </div>
  </div>
  <div [ngClass]="'error'" *ngIf= "f.invalid && (f.touched || f.dirty)">
      <p *ngIf="pwd.errors.required" >password is required</p>
      <p *ngIf="pwd.errors.minlength">password should be of 6 </p>
  </div>
  <br>

<div class="row">
   <div class="col-md-8">
      <button type="submit" 
       class="btn btn-primary"
       [disabled]="f.invalid"
       >submit</button>
   </div>
  </div>
</div>
</form>

